@model Salecoop.Models.salecoop

@{
    ViewBag.Title = "Create";
}
<br>
<br>
<center><h2>เพิ่มรายการซื้อขาย</h2></center>
<style>
    .mycombo{
            width: 50px;

    }

</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div align="center">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" align="center">
             <center><i class="glyphicon glyphicon-list-alt"> </i> @Html.Label("เลขที่ใบเสนอราคา")</center>
           
                @Html.EditorFor(model => model.quotationNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", style = "width : 400px; text-align: center;" } })
                @Html.ValidationMessageFor(model => model.quotationNo, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group" align="center">
            <center><i class="glyphicon glyphicon-calendar"> </i> @Html.Label("วันที่")</center>

                @Html.EditorFor(model => model.dayindate, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", style = "width : 400px; text-align: center;" } })
                @Html.ValidationMessageFor(model => model.dayindate, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group" align="center">
            <center><i class="glyphicon glyphicon-user"> </i> @Html.Label("ผู้เสนอราคา")</center>

                @Html.EditorFor(model => model.useroffer, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", style = "width : 400px; text-align: center;" } })
                @Html.ValidationMessageFor(model => model.useroffer, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">
          <center><i class="glyphicon glyphicon-home"> </i>@Html.Label("ชื่อสหกรณ์")</center>

                @Html.EditorFor(model => model.coopName, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", style = "width : 400px; text-align: center;" } })
                @Html.ValidationMessageFor(model => model.coopName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">

            <center> <i class="glyphicon glyphicon-th-list"> </i>@Html.Label("ลำดับ") </center>

                @Html.EditorFor(model => model.sequence, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", style = "width : 400px; text-align: center;" } })
                @Html.ValidationMessageFor(model => model.sequence, "", new { @class = "text-danger" })

        </div>

        <div class="form-group" align="center">
            <center> <i class="glyphicon glyphicon-th-list"> </i>@Html.Label("รายการ") </center>

                    @Html.EditorFor(model => model.listorder, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", style = "width : 400px; text-align: center;" } })
                    @Html.ValidationMessageFor(model => model.listorder, "", new { @class = "text-danger" })      
        </div>

        <div class="form-group" align="center">
           <center> <i class="glyphicon glyphicon-"> </i>@Html.Label("จำนวน")  <i class="glyphicon glyphicon-pencil"> </i></center>

    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", style = "width : 400px; text-align: center;" } })
    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
</div>

        <div class="form-group" align="center">
            <center><i class="glyphicon glyphicon-usd"></i>@Html.Label("ราคาขาย(รวมVAT)")</center>

                @Html.EditorFor(model => model.salepricesumvat, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", style = "width : 400px; text-align: center;" } })
                @Html.ValidationMessageFor(model => model.salepricesumvat, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">
           <center><i class="glyphicon glyphicon-usd"></i> @Html.Label("ต้นทุน(รวมVAT)")</center>

                @Html.EditorFor(model => model.costsumvat, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", style = "width : 400px; text-align: center;" } })
                @Html.ValidationMessageFor(model => model.costsumvat, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">
           <center><i class="glyphicon glyphicon-usd"></i> @Html.Label("กำไรเบื้องต้น")</center>
            
                @Html.EditorFor(model => model.profitaftersale, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", style = "width : 400px; text-align: center;" } })
                @Html.ValidationMessageFor(model => model.profitaftersale, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">
           <center><i class="glyphicon glyphicon-alert"> </i> @Html.Label("สถานะ")</center>

                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "ไม่อนุมัติสั่งซื้อ",
                        Value = "ไม่อนุมัติสั่งซื้อ",
                        Selected = true

                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "อนุมัติสั่งซื้อ",
                        Value = "อนุมัติสั่งซื้อ",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "รอสั่งสินค้า",
                        Value = "รอสั่งสินค้า",

                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "ได้รับสินค้าแล้ว",
                        Value = "ได้รับสินค้าแล้ว",

                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "รอรับเงิน",
                        Value = "รอรับเงิน",

                    });

                    listItems.Add(new SelectListItem
                    {
                        Text = "ได้รับเงินแล้ว",
                        Value = "ได้รับเงินแล้ว",

                    });

                }

                @Html.DropDownListFor(model => model.status, listItems, new { @class = "form-control", style = "margin-top:15px; text-align: center;" })
           
        </div>

        <div class="form-group"  align="center" >
            
                <input type="submit" value="สร้าง" class="btn btn-success" />
            
        </div>

    </div>
                    }

            <div>
                <button class="btn btn-danger" style="margin-left:5px" onclick="location.href='@Url.Action("Index","salecoops")'">
                    ย้อนกลับ
                    <span class="glyphicon glyphicon-backward"></span>
                </button>
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
