@model Salecoop.Models.salecoop

@{
    ViewBag.Title = "Details";
}
<br>
<center><img src="~/Content/img/salecart/shopping_cart_up.png" alt="Avatar" width="100" height="100"></center>
<center><h2>รายละเอียดข้อมูลการซื้อขาย</h2></center>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <i class="glyphicon glyphicon-list-alt"> </i>
                @Html.DisplayName("เลขที่ใบเสนอราคา")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quotationNo)
            </dd>

            <dt>
                <i class="glyphicon glyphicon-calendar"> </i>
                @Html.DisplayName("วันที่")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dayindate)
            </dd>

            <dt>
                <i class="glyphicon glyphicon-user"> </i>
                @Html.DisplayName("ผู้เสนอราคา")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.useroffer)
            </dd>

            <dt>
                <i class="glyphicon glyphicon-home"> </i>
                @Html.DisplayName("ชื่อสหกรณ์")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.coopName)
            </dd>

            <dt>
                <i class="glyphicon glyphicon-tasks"> </i>
                @Html.DisplayName("ลำดับ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sequence)
            </dd>

            <dt>
                <i class="glyphicon glyphicon-th-list"> </i>
                @Html.DisplayName("รายการ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.listorder)
            </dd>

            <dt>
                <i class="glyphicon glyphicon-pencil"> </i>
                @Html.DisplayName("จำนวน")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.amount)
            </dd>

            <dt>
                <i class="glyphicon glyphicon-usd"> </i>
                @Html.DisplayName("ราคาขาย(รวมVAT)")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.salepricesumvat)
            </dd>

            <dt>
                <i class="glyphicon glyphicon-usd"> </i>
                @Html.DisplayName("ต้นทุน(รวมVAT)")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.costsumvat)
            </dd>

            <dt>
                <i class="glyphicon glyphicon-usd"> </i>
                @Html.DisplayName("กำไรเบื้องต้น")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.profitaftersale)
            </dd>

            <dt>
                <i class="glyphicon glyphicon-alert"> </i>
                @Html.DisplayName("สถานะ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

        </dl>
    </div>
    <p>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success" style="margin-left:5px" onclick="location.href='@Url.Action("Edit","salecoops",new { id = Model.idsale })'">
                    แก้ไข
                </button>
            </div>
        </div>
        <div>
            <button class="btn btn-danger" style="margin-left:5px" onclick="location.href='@Url.Action("Index","salecoops")'">
                ย้อนกลับ
                <span class="glyphicon glyphicon-backward"></span>
            </button>
        </div>
    </p>
