@model IEnumerable<Salecoop.Models.salecoop>
@{
    ViewBag.Title = "ViewSale";
}
<br>
<br>
<center><h2 style="align-content:center; font-family: 'Prompt', sans-serif;">ข้อมูลการซื้อขาย</h2></center>

    <div class="col-md-12" style="margin-top:15px; align-content:center; font-family: 'Prompt', sans-serif;">
        @using (Html.BeginForm("ViewSale", "salecoops", FormMethod.Get, new { @class = "form-inline" }))
        {
            <p>

                <div class="form-group" style="align-content:center; font-family: 'Prompt', sans-serif;">
                    <label class="sr-only"> ค้นหาโดย:</label>
                    <h4 class="form-control-static" style="margin-right:10px; align-content:center; font-family: 'Prompt', sans-serif;">ค้นหาโดย:</h4>
                </div>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();

                    listItems.Add(new SelectListItem
                    {
                        Text = "ชื่อสหกรณ์",
                        Value = "2"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "รายการ",
                        Value = "4"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "สถานะ",
                        Value = "3"
                    });

                }
                <div class="form-group" style="align-content:center; font-family: 'Prompt', sans-serif;">
                    @Html.DropDownList("movieGenre", new SelectList(listItems, "Value", "Text"), new { @class = "form-control", @style = "margin-top:15px" })

                </div>
                <div class="form-group" style="align-content:center; font-family: 'Prompt', sans-serif;">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "ค้นหา", @style = "margin-top:15px" })

                </div>
                <button type="submit" class="btn btn-success" style="margin-left:10px; margin-top:15px; align-content:center; font-family: 'Prompt', sans-serif;">
                    <i class="glyphicon glyphicon-search"> </i>
                    ค้นหา
                </button>
            </p>
                    }
    </div>
    <br>
    <table class="table" style="align-content:center; font-family: 'Prompt', sans-serif;">
        <tr>
            <th>
                <center>
                    <i class="glyphicon glyphicon-calendar"> </i>
                    @Html.DisplayName("วันที่")
                </center>
            </th>
            <th>
                <center>
                    <i class="glyphicon glyphicon-home"> </i>
                    @Html.DisplayName("ชื่อสหกรณ์")
                </center>
            </th>
            <th>
                <center>
                    <i class="glyphicon glyphicon-th-list"> </i>
                    @Html.DisplayName("รายการ")
                </center>
            </th>
            <th>
                <center>
                    <i class="glyphicon glyphicon-pencil"> </i>
                    @Html.DisplayName("จำนวน")
                </center>
            </th>
            <th>
                <center>
                    <i class="glyphicon glyphicon-user"> </i>
                    @Html.DisplayName("ราคาขายรวมภาษี")
                </center>
            </th>
            <th>
                <center>
                    <i class="glyphicon glyphicon-alert"> </i>
                    @Html.DisplayName("สถานะ")
                </center>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.dayindate)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.coopName)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.listorder)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.amount)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.salepricesumvat)
                    </center>
                </td>

                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.status)
                    </center>
                </td>

            </tr>
        }

    </table>
