@model Salecoop.Models.Employee

@{
    ViewBag.Title = "Create";
}
<br>
<br>
<center><h2>เพิ่มข้อมูลพนักงาน</h2></center>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group " align="center">
            <i class="glyphicon glyphicon-user"> </i>@Html.Label("ชื่อจริง")

            @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", @style = "width : 400px; text-align : center;" } })
            @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })

        </div>

        <div class="form-group" align="center">
            <i class="glyphicon glyphicon-user"> </i>@Html.Label("นามสกุล")
            @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", @style = "width : 400px; text-align : center;" } })
            @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })

        </div>

        <div class="form-group" align="center">
            <i class="glyphicon glyphicon-user"> </i>@Html.Label("ชื่อผู้ใช้งาน")

            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", @style = "width : 400px; text-align : center;" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">
            <i class="glyphicon glyphicon-lock"> </i>@Html.Label("รหัสผ่าน")
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", @style = "width : 400px; text-align : center;" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">
            <i class="glyphicon glyphicon-credit-card"> </i> @Html.Label("บัตรประชาชน")
            @Html.EditorFor(model => model.Idcard, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", @style = "width : 400px; text-align : center;" } })
            @Html.ValidationMessageFor(model => model.Idcard, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">
            <i class="glyphicon glyphicon-envelope"> </i>@Html.Label("อีเมลล์")
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", @style = "width : 400px; text-align : center;" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">
            <i class="glyphicon glyphicon-earphone"> </i>@Html.Label("เบอร์โทร")
            @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", @style = "width : 400px; text-align : center;" } })
            @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">
            <i class="glyphicon glyphicon-education"> </i>@Html.Label("ตำแหน่งงาน")
            @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรุณากรอกข้อมูล...", @style = "width : 400px; text-align : center;" } })
            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" align="center">

            <input type="submit" value="สร้าง" class="btn btn-success" />

        </div>
    </div>
}

<div>
    <button class="btn btn-danger" style="margin-left:5px" onclick="location.href='@Url.Action("Index","Employees")'">
        ย้อนกลับ
        <span class="glyphicon glyphicon-backward"></span>
    </button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
