@model Salecoop.Models.Employee

@{
    ViewBag.Title = "Delete";
}
<br>
<center><img src="~/Content/img/member/delete.png" alt="Avatar" width="100" height="100"></center>
<center><h2 style="align-content:center; font-family: 'Prompt', sans-serif;">ลบข้อมูลพนักงาน</h2></center>

<center><h3 style="align-content:center; font-family: 'Prompt', sans-serif;">คุณต้องการลบพนักงาน คนนี้จริงหรือ?</h3></center>
  
 <div style="align-content:center; font-family: 'Prompt', sans-serif;">      
        <center>
    <hr />

    <i class="glyphicon glyphicon-user"> </i>
    <b>@Html.DisplayName("ชื่อจริง: ")</b>&nbsp;
    @Html.DisplayFor(model => model.Firstname)
    <br>


    <i class="glyphicon glyphicon-user"> </i>
    <b>@Html.DisplayName("นามสกุล: ")</b>&nbsp;
    @Html.DisplayFor(model => model.Lastname)
    <br>


    <i class="glyphicon glyphicon-user"> </i>
    <b>@Html.DisplayName("ชื่อผู้ใช้งาน: ")</b>&nbsp;
    @Html.DisplayFor(model => model.Username)
    <br>


    <i class="glyphicon glyphicon-lock"> </i>
    <b>@Html.DisplayName("รหัสผ่าน: ")</b>&nbsp;
    @Html.DisplayFor(model => model.Password)
    <br>


    <i class="glyphicon glyphicon-credit-card"> </i>
    <b>@Html.DisplayName("บัตรประชาชน: ")</b>&nbsp;
    @Html.DisplayFor(model => model.Idcard)
    <br>


    <i class="glyphicon glyphicon-envelope"> </i>
    <b>@Html.DisplayName("อีเมลล์: ")</b>&nbsp;
    @Html.DisplayFor(model => model.Email)
    <br>


    <i class="glyphicon glyphicon-earphone"> </i>
    <b>@Html.DisplayName("เบอร์โทร: ")</b>&nbsp;
    @Html.DisplayFor(model => model.Tel)
    <br>


    <i class="glyphicon glyphicon-education"> </i>
    <b>@Html.DisplayName("ตำแหน่ง: ")</b>&nbsp;
    @Html.DisplayFor(model => model.Position)






    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div>
                <br>
                <br>
                <input type="submit" value="ลบ" class="btn btn-success" />

            </div>
        </div>

    }
</center>
</div>
    <div style="align-content:center; font-family: 'Prompt', sans-serif;">
        <button class="btn btn-danger" style="margin-left:5px" onclick="location.href='@Url.Action("Index","Employees")'">
            ย้อนกลับ
            <span class="glyphicon glyphicon-backward"></span>
        </button>
    </div>
